<%%= form_for @<%= resource_name %>, :html => { :class => 'form-horizontal' } do |f| %>
  <%- columns.each do |column| -%>
  <div class="form-group">
    <%%= f.label :<%= column.name %>, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%%= f.<%= column.field_type %> :<%= column.name %>, :class => '<%= column.field_type %> form-control' %>
    </div>
  </div>
  <%- end -%>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%%= f.submit nil, :class => 'btn btn-primary' %>
      <%%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  <%= controller_routing_path %>_path, :class => 'btn btn-default' %>
    </div>
  </div>
<%% end %>
